# This is an example database config file.
# Copy to database.xml and edit the username/password and set required variables
#
# Ensure the postGres gem is defined in your Gemfile
#   gem 'pg'
#
development:
  adapter: postgresql
  encoding: utf8
  database: project_development
  pool: 5
  username: yourusername
  password:

test:
  adapter: postgresql
  encoding: utf8
  database: project_test
  pool: 5
  username: yourusername
  password:

production:
  adapter: postgresql
  encoding: utf8
  database: project_production
  pool: 5
  username: 
  password:
