//our vaiables

$header-color: #ff942c;
$header-link-color: #fff;
$rooms-color: #24ae6a;
$rooms-text-color:#000;
$messages-color: #f5f5f5;
$tooltip-color: #000;

//customises bootstrap variables
$navbar-default-link-color:  #fff;
//list-group (rooms)
$list-group-bg: transparent;
$list-group-border: darken($rooms-color, 5%);
$list-group-hover-bg: lighten($rooms-color, 10%);
$list-group-hover-color: $rooms-text-color;
$list-group-active-bg: lighten($rooms-color, 20%);
$list-group-active-color: darken($rooms-text-color, 5%);
$list-group-link-bg: transparent;

@import 'bootstrap-sprockets';
@import 'bootstrap';

html,
body {
  height: 100%;
  overflow: hidden;
}

.header {
  padding-right: 20px;
  background-color: $header-color;
  margin-bottom: 0;

  a,
  span {
    color: $header-link-color;
  }

  .navbar-left {
    padding-top: 7px;
    font-size: 25px;
  }

  .navbar-header {
    margin-left: 20px;
  }
}

.navbar-right li a:hover {
  background-color: transparent;
}

.application-container {
  height: 100%;
}

.page-container {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  height: 100%;
}

.rooms-col {
  background-color: $rooms-color;
  height: 100%;
  padding-bottom: 120px;
  padding-right: 2px;
}

.rooms-box {
  padding: 10px 20px;
  margin-bottom: 200px;
  overflow-y: scroll;
  height: 100%;
}

.rooms-list {
  margin-top: 20px;
  padding-left: 5px;
}

.room-list-item {
  padding: 1px;

  .glyphicon-remove {
    cursor: pointer;
    padding-left: 5px;
    float: right;
  }
}

.add-room-form {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  
  input {
    margin-right: 5px;
  }
}

.messages-col {
  background-color: $messages-color;
  height: 100%;
  padding-bottom: 120px;
  padding-right: 2px;
}

.message-box-container {
  height: 100%;
}

.message-box {
  padding: 10px 20px;
  margin-bottom: 200px;
  height: 100%;
}

.message-form {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 60%;
}

.message-list-col {
  height: 100%;
  overflow-y: scroll;
}

// .message-list {
// }

.message-body {
  width: 80%;
  margin-right: 5px;
}

.user-list-col {
  height: 100%;
  overflow-y: scroll;
}

// .user-list {
// }

.log-in {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

time {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
}

time::before {
  content: attr(datetime); 
  font-size: 12px;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  bottom: 9999px;
  left: 0;
  background: $tooltip-color;
  color: invert($tooltip-color);
  padding: 0 7px;
  line-height: 24px;
  height: 24px;
  opacity: 0;
}

time:hover::before {
  opacity: 1; 
  top: 22px;
}

.modal-dialog {
  width: 300px;

  p {
    text-align: center;
  }

  .modal-buttons {
    position: relative;
    left: 30%;

    button {
      margin: 2px;
    }
  }
}
