.navbar.navbar-static-top.header
  .container-fluid
    .navbar-header.navbar-left
      %span.navbar-bran Yak Chat
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Log out', logout_path, method: :delete
